header {
    position: relative;
    padding: 15px;
    background-color: #0b0;
}

.intro {
    text-align: center;
}

.about-me-wrapper {
    text-align: center;
}

.my-projects {
    text-align: center;
}

.project-card-wrapper {
    
}

footer{
    text-align: center;
}