* {
    box-sizing: border-box;
}

body {
    padding-top: 80px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 15px;
    background-color: #0b0;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.1em;
}

header a {
    color: white;
}

header a:hover {
    color: black;
    text-decoration: none;
}

.intro {
    margin-bottom:50px;
    text-align: center;
}

.about-me-wrapper {
    text-align: center;
}

.projects-wrapper {
    padding-top: 65px;
}

.my-projects-label {
    text-align: center;
}

.project-card-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    max-width: 450px;
    margin: 0 auto;
}

.project-icon {
    width: 50px;
    height: auto;
}

.project-icon:hover {
    width: 100px;
    opacity: 0.5;
}

.skills-wrapper {
    text-align: center;
    padding-top: 65px;
}

.skills-list-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills-item {
    width: 60px;
}

.skills-item > img {
    width: 60px;
    height: 60px;
}

.contact-wrapper {
    text-align: center;
    padding-top: 65px;
}

.contact-item {
    width: 60px;    
}

footer{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}