* {
    box-sizing: border-box;
}

body {
    padding-top: 80px;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	padding: 15px;
	background-color: #0b0;
	display: flex;
	justify-content: space-evenly;
	font-weight: bold;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #888;
}

nav a {
    color: white;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

header {
    margin-bottom:50px;
}

footer{
	padding-top: 2em;
	padding-bottom: 2em;
}

h5 {
	margin-top: 0.5em;
}

.center {
	text-align: center;
}

.padding65 {
	padding-top: 65px;
}


.project-card-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    max-width: 450px;
    margin: 0 auto;
	box-shadow: 1px 1px 1px #000;
}


.project-icon {
	width: 50px;
	height: auto;
	opacity: 0.7;
}

.project-icon:hover {
	opacity: 1;
}

.skills-list-wrapper {
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.skills-item {
	width: 90px;
	height: 110px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.skills-icon-container {
	width:90px;
	height: 80px;
	margin-bottom: 10px;
}

.skills-icon {
	width: 60px;
	height: 60px;
	opacity: 0.8;
}

.skills-icon:hover {
	width: 80px;
	height: 80px;
	opacity: 1;
	transition: 0.05s;
}

.skills-label {
	border-radius: 0.5em;
	color: white;
	background-color: #888;
}

.contact-list-wrapper {
	display: flex;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.contact-item {
	width: 80px;
	margin-top: 1em; 
	margin-right: auto;
	margin-left: auto; 
}

.contact-image {
	width: 60px;
	height: 60px; 
	opacity: 0.7;
}

.contact-image:hover {
	opacity: 1;
	transition: 0.05s;
}